<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302620644240-6j7ch8vrj5o874amnlgtoejdevu9l25h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302620644240-6j7ch8vrj5o874amnlgtoejdevu9l25h</string>
	<key>API_KEY</key>
	<string>AIzaSyAH6gikoHaC6MNj-ItBVTeVhkzvJfRbFtU</string>
	<key>GCM_SENDER_ID</key>
	<string>302620644240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Okstate.FinalProjectMSIS</string>
	<key>PROJECT_ID</key>
	<string>adv-app-aitp</string>
	<key>STORAGE_BUCKET</key>
	<string>adv-app-aitp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302620644240:ios:a4ed80f9d1ac90c13dd915</string>
	<key>DATABASE_URL</key>
	<string>https://adv-app-aitp.firebaseio.com</string>
</dict>
</plist>